<mat-card>
        <mat-card-header>
          <mat-card-title>Post Image</mat-card-title>
        </mat-card-header>
      
        <mat-card-content>
          <form (ngSubmit)="onSubmit()" #form="ngForm">
            <mat-form-field>
              <mat-label></mat-label>
              <input type="text" matInput name="url" placeholder="image url" autofocus [(ngModel)]="url">
            </mat-form-field>
            <mat-error></mat-error>
      
            <mat-form-field>
              <input type="text" matInput name="author" placeholder="Your name" [(ngModel)]="author">
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Upload</button>
          </form>
        </mat-card-content>
      
      </mat-card>