:host {
    margin: auto;
    width: 80%;
}

.selector{
    display: block;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.selector button {
    margin-left: 20px;
}



main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr) );// enable the grid template system
    grid-gap: 1rem;
}

.img-card {
    transition: transform 1s;

    &:hover {
        transform: translateY(-10px)
    }
}


mat-card img {
    object-fit: cover;
    width: 100%;

}

