<div class="selector">
    <button mat-button color="accent" [routerLink]="['../../all']">All</button>
    <button mat-raised-button color="accent" [routerLink]="['../../cats']">Cats</button>
    <button mat-button color="accent" [routerLink]="['../../wallpaper']">Wallpaper</button>
    <button mat-button color="accent" [routerLink]="['../../films']">Film</button>
</div>
<button mat-raised-button color="primary" [routerLink]="['../../post']">Add Your Image Topic</button>
<main>
    <div *ngFor="let index of idArr">
        <app-thread [id]="index" [routerLink]="[index]"></app-thread>
    </div>
</main>
