[submodule "react-quickly-tut"]
	path = react-quickly-tut
	url = https://github.com/winoooops/react-quickly-tut
[submodule "ngAuction"]
	path = ngAuction
	url = https://github.com/winoooops/ngAuction.git
[submodule "MEAN-sample"]
	path = MEAN-sample
	url = https://github.com/winoooops/MEAN-sample.git
