<mat-card class="img-card">
    <mat-card-header>
        <mat-card-title>{{ author }}</mat-card-title>
        <mat-card-subtitle>reply {{ time | moment }}</mat-card-subtitle>
    </mat-card-header>
    <div class="image-content" *ngIf="isImage">
            <img [src]="imgSrc" alt="">
            <div class="tags-Link" *ngFor="let tag of tags">
                <a [routerLink]="['']">#{{ tag }}</a>
            </div>
    </div>

    <div class="emoji-content" *ngIf="!isImage">
        <p>{{ emoji | toEmoji }}</p>
    </div>
    
    
    <mat-card-actions>
        <button mat-button color="primary" (click)="openEmojiDialog()"><mat-icon>sentiment_satisfied_alt</mat-icon></button>
        <button mat-button color="primary" (click)="toggleComment()">COMMENT({{ counts }})</button>
        <button mat-button color="accent" *ngIf="isMutable">Change</button>
        <button mat-button color="accent" *ngIf="isMutable">Delete</button>
    </mat-card-actions>
</mat-card>
<div class="comments" *ngIf="isCommentsViewable">
    <app-comments [id]="id"></app-comments>
</div>