
<div style="display: flex; padding-top: 20px">
    <div name="rankImage" style="width: 70%; margin-left: 2%">
        <mat-toolbar>
            <span>Most Popular Images</span>
        </mat-toolbar>
        <mat-card>
            <mat-card-title>No.X</mat-card-title>
            <mat-card-content></mat-card-content>
            <img mat-card-image >
            <mat-card-actions></mat-card-actions>
            <mat-card-footer style="margin-left: 2px">{{today | date:'L-d H:m'}}</mat-card-footer>
            <!-- shorTime: 9:43pm -->
        </mat-card>
    </div>
    <mat-divider [vertical]="true" style="padding-left:10px;"></mat-divider>
    <div name="rankUser" style="width: 20%; padding-left: 3%">
        <mat-toolbar>
            <span>Hot</span>
        </mat-toolbar>
        <mat-card>
            <mat-card-title>No.X</mat-card-title>
            <mat-card-content></mat-card-content>
            <img mat-card-image >
            <mat-card-actions></mat-card-actions>
            <mat-card-footer style="margin-left: 2px">{{today | date:'L-d H:m'}}</mat-card-footer>
        </mat-card>
    </div>
</div>
