.img-card {
  transition: transform 1s;

  &:hover {
    transform: translateY(-10px)
  }
}


mat-card img {
  object-fit: cover;
  width: 100%;
  max-width:600px;
}

.comments {
  padding-left: 10em;
}
